@using System.Net.Http.Headers
@using System.Text
@using System.Text.Json
@using Blazored.LocalStorage
@using PigSharing.Client.Logic
@using PigSharing.Share.Models
@using Microsoft.JSInterop

@inject HttpClient Client
@inject ILocalStorageService LocalStorage
@inject StateManager StateManager
@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime
@inject ImageService ImageService

@implements IDisposable

@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar" style="display: none">
        <NavMenu/>
    </div>
    <main>
        <div style="display: flex; flex-direction: column; justify-content: center; text-align: center">
            <h1>PigSharing</h1>
            <h5>Partager vos photos</h5>
        </div>
        <div class="top-row px-4" style="display: flex; flex-direction: row; justify-content: space-around">
            @if (!StateManager.UserConnected)
            {
                <a style="color: #15b0d3" href="/register">S'incrire</a>
                <a style="color: #15b0d3" href="/signin">Se Connecter</a>

            }
            else
            {
                <a href="/" style="color: #15b0d3" @onclick="Logout">Se déconnecter</a>
                <a href="/" style="color: #15b0d3" @onclick="DeleteUser">Supprimer votre compte</a>

            }
        </div>

        <div style="display: flex; flex-direction: row; justify-content: space-around; margin-top: 30px">


            @if (StateManager.UserConnected)
            {
                <button style="background-color: @(StateManager.ToggleAllImagePrivate ? "#15b0d3" : "transparent"); color: @(StateManager.ToggleAllImagePrivate ? "white" : "#15b0d3"); margin-bottom: 10px; width: 65px; height: 57px; border: #15b0d3 1px solid" @onclick="ToggleAllImagePrivate">
                    <i class="fas fa-book-open"></i>
                </button>
                <button style="background-color: @(StateManager.TogglePublics ? "#15b0d3" : "transparent"); color: @(StateManager.TogglePublics ? "white" : "#15b0d3"); width: 65px; height: 57px; border: #15b0d3 1px solid" @onclick="TogglePublics">
                    <i class="fas fa-images"></i>
                </button>
                <button style="width: 65px; height: 57px; background-color: transparent; color: #15b0d3; border: #15b0d3 1px solid" @onclick="TriggerFileUpload">
                    <i class="fas fa-upload"></i>
                </button>
            }

            @if (!StateManager.UserConnected)
            {
                <button>Photos Publiques</button>

            }

            <InputFile id="fileInput" style="display:none" OnChange="HandleSelected"/>

        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{

    // Variable pour le drag and drop
    private DotNetObjectReference<MainLayout> dotNetHelper;
    
    private IBrowserFile? selectedFile;
    
    // Methode qui permet de suivre les chnagement dans le StateManager
    protected override void OnInitialized()
    {
        StateManager.OnChange += StateHasChanged;
        
        
        dotNetHelper = DotNetObjectReference.Create(this);
        JsRuntime.InvokeVoidAsync("initializeGlobalDropzone", dotNetHelper);
        
        
    }
   
    // Détruit l'event d'écoute quand le composant est detruit
    // ????????????????? UTILE ICI JE PENSE PAS ????????????
    public void Dispose()
    {
        StateManager.OnChange -= StateHasChanged;
    }

    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("account");
        StateManager.UserConnected = false;
        StateManager.AllImages = new Picture[] {};
        StateManager.ToggleAllImagePrivate = false;
    }

    private async Task DeleteUser()
    {
        var account = await LocalStorage.GetItemAsync<Account>("account");

        if (account != null)
        {
            var content = new StringContent(
                JsonSerializer.Serialize(account.ConnectionToken),
                Encoding.UTF8,
                "application/json");

            var id = account.ConnectionToken; 
            
            var request = new HttpRequestMessage(HttpMethod.Delete, $"/api/auth/deleteuser")
            {
                Content = content
            };

            var response = await Client.SendAsync(request);
            
            if (response.IsSuccessStatusCode)
            {
                await LocalStorage.RemoveItemAsync("account");
                StateManager.UserConnected = false;
                StateManager.TogglePublics = true;
                StateManager.ToggleAllImagePrivate = false;
                ImageService.GetPublics();
                Navigation.NavigateTo("/");
            }
        }
    }
    
    // Méthode pour l'ouverture de la boite de dialogue
    private async Task TriggerFileUpload()
    {
        await JsRuntime.InvokeVoidAsync("triggerFileInputClick");
    }
    
    // Méthode pour la séléction du fichier dans la boite de dialog
    private async void HandleSelected(InputFileChangeEventArgs e)
    {
        selectedFile = e.File;
        await UploadImage(selectedFile);
    }
    
    // Méthode pour demander l'upload de l'image
    private async Task UploadImage(IBrowserFile file)
    {
        
        var account = await LocalStorage.GetItemAsync<Account>("account");

        if (file != null && account != null)
        {
            
            var result = await ImageService.UploadImage(file, account);
         
            if (result)
            {
                await ImageService.GetAllImages(account);
                await ImageService.GetPublics();
                Navigation.NavigateTo("/");
                StateHasChanged();   
            }
        }
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dotNetHelper = DotNetObjectReference.Create(this);
            await JsRuntime.InvokeVoidAsync("initializeGlobalDropzone", dotNetHelper);

        }
    }

    [JSInvokable]
    public async void OnImageDropped(string base64Image,string fileName, string fileType)
    {
        StateHasChanged();
        await UploadDragAndDrop(base64Image, fileName, fileType);
        
    }

    private async Task UploadDragAndDrop(string base64Image, string fileName, string fileType)
    {
        
        StateHasChanged();

        var account = await LocalStorage.GetItemAsync<Account>("account");
        
        // Transformation de notre base64 en images
        var bytes = Convert.FromBase64String(base64Image);
        
        var content = new MultipartFormDataContent();

        var accountContent = new StringContent(
            JsonSerializer.Serialize(account),
            Encoding.UTF8,
            "application/json");
        content.Add(accountContent);
        
        var byteArrayContent = new ByteArrayContent(bytes);
        byteArrayContent.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue(fileType);
        content.Add(byteArrayContent, "file", fileName);

        var response = await Client.PostAsync("/api/picture/upload", content);
        
        if (response.IsSuccessStatusCode)
        {
            await ImageService.GetAllImages(account);
            await ImageService.GetPublics();
            Navigation.NavigateTo("/");
            StateHasChanged();   
        }
    }
    
    // Méthode d'affichage des photos publics
    private async Task TogglePublics()
    {
        StateManager.TogglePublics = true;
        StateManager.ToggleAllImagePrivate = false;
        StateManager.NotifyStateChanged();
    }
    
    // Méthode d'affichage allimages
    private async Task ToggleAllImagePrivate()
    {
        StateManager.TogglePublics = false;
        StateManager.ToggleAllImagePrivate = true;
        StateManager.NotifyStateChanged();
    } 

}
