@page "/signin"

@using System.Text
@using System.Text.Json
@using Blazored.LocalStorage
@using PigSharing.Client.Logic
@using PigSharing.Share.Models

@inject HttpClient Client
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@inject StateManager StateManager
@inject ImageService ImageService

<PageTitle>SignIn</PageTitle>

<div class="register-page">
    <h2>Login</h2>
    <EditForm Model="payload" OnValidSubmit="TryAuth">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="username">Username:</label>
            <InputText id="username" @bind-Value="payload.UserName" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <InputText id="password" @bind-Value="payload.Password" type="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Se Connecter</button>
        <button type="button" class="btn btn-primary" @onclick="CancelSignIn">Annuler</button>
    </EditForm>
</div>

@code {

    private Payload payload = new();

    private async Task TryAuth()
    {
        var content = new StringContent(
            JsonSerializer.Serialize(payload),
            Encoding.UTF8,
            "Application/json");
        
        var response = await Client.PostAsync("/api/auth/login", content);

        if (response.IsSuccessStatusCode)
        {
            var account = await response.Content.ReadFromJsonAsync<Account>();

            if (account != null)
            {
                await LocalStorage.SetItemAsync("account", account);
                StateManager.UserConnected = true;
                StateManager.ToggleAllImagePrivate = true;
                StateManager.TogglePublics = false;
                await ImageService.GetAllImages(account);
                Navigation.NavigateTo("/");
            }
        }

    }
    
    

    private void CancelSignIn()
    {
        Navigation.NavigateTo("/");
    }

}